* {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

body {
    background: radial-gradient(#1F3757, #131537);
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    width:311px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    /* margin-top: 32px; */
    border: 2px solid rgba(255,255,255,.29);
    margin: 32px 0 100px 0;
}

img#logo {
    width: 83px;
}

.score-container {
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    padding:12px 24px;
}

.score-container h2 {
    color: #2A45C2;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    
}

.score-container span {
    color: #565468;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: bold;
}

.game-options {
    width: 100%;
    height: 282px;
    background: url('../../images/bg-triangle.svg') no-repeat center center/contain;
    
    /* Should re-do this, must change the actual svg looks like */
    /* background-size: 51%; */
    background-size: 65%; /* Should re-do this, must change the actual svg looks like*/
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    position: relative;
}

#paper {
    position: absolute;
    top: 0;
    left: 0;
}

#paper:hover, #scissors:hover, #rock:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 20px rgba(255,255,255,.5));
}

#scissors {
    position: absolute;
    top: 0;
    right: 0;
}

#rock {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

button.btn {
    outline: none;
    padding: 20px 50px;
    border-radius: 8px;
    text-transform: uppercase;
    margin: 0 auto;
}

button.btn:hover {
    cursor: pointer;
}

button.btn.play-again {
    background-color:#fff;
    color: #3B4262;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    border: 1px solid #fff;
}

button.btn.rules {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-bottom: 80px;
}

button.btn.rules:hover {
    background-color: #fff;
    color: #3B4262;
}

/* How to style the focused state of the button element for accessibility without having a blue outline when clicking on the button? */
/* button.btn:focus {
    outline: 3px solid #1869A8;
} */


.game-outcome {
    display: none;
    margin-bottom: 115px;
}

#result-display {
    min-height: 180px;
}

#result-display h3, #result-display .btn {
    display: none;
}

body.game-finished #result-display h3, body.game-finished #result-display .btn {
    display: block;
}

body.game-finished #result-display h3 {
    font-size: 56px;
    letter-spacing: 0px;
    padding-bottom: 30px;
}

body.choice-made .game-outcome {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

body.choice-made .game-options {
    display: none;
}

.user-choice, .computer-choice {
    text-align: center;
}

.computer-choice img {
    display: none;
}

.blank-circle {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    background-color: rgba(0,0,0,.1);
    margin: 0 auto 10px;
}

.computer-choice.choice-made img {
    display: inline;
}
.computer-choice.choice-made .blank-circle {
    display: none;
}


/* Modal */
body.show-rules {
    overflow: hidden;
}

body.show-rules .modal-container {
    display: block;
    
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    overflow-y: scroll;
}

.modal-container .inner-modal {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-container .inner-modal h2 {
    text-align: center;
    text-transform: uppercase;
    color: #3B4262;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
}

.modal-container .inner-modal .close-btn {
    cursor: pointer;
}