* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(#1F3757, #131537);
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    width:311px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid rgba(255,255,255,.29);
}